.historyPanel {
  position: absolute;
  right: 0;

  width: 10rem;
  padding: 2rem;

  border-radius: 0 0 1rem 0;

  background-color: rgba(236, 240, 241, 0);
}

.historyTitle {
  margin-bottom: .1rem;

  text-align: center;
  pointer-events: none;
}

.historyButtonList {
  display: flex;

  margin-top: .5rem;

  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.historyButton {
  display: flex;

  padding: .2rem;

  flex-direction: row;
  justify-content: left;
  align-items: center;

  border: none;
  background-color: rgba(236, 240, 241, 0);
}

.historyNode {
  display: block;

  width: 32px;
  height: 32px;

  margin-right: .5rem;

  border: none;
  border-radius: 32px;

  color: #0094ff;
  background-color: #0094ff;
}

.historyButton:hover {
  cursor: pointer;
}