* {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;

  color: #191919;
}

hr {
  border: 1px solid #34699B;
  margin: 0;
}

.appContainer {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;

  overflow: hidden;
}

.graphContainer {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;

  background-color: #ecf0f1;
}

.infoPanel {
  position: absolute;

  width: 30rem;
  padding: 2rem;

  border-radius: 0 0 1rem 0;

  background-color: rgba(236, 240, 241, 0);

  pointer-events: none;
}

.titleBox {
  padding: .5rem;
}

.infoBox {
  padding: .5rem;
  margin-top: .5rem;
}

.courseInputForm {
  width: 30rem;
  max-width: 30rem;
  margin: 0;

  pointer-events: visible;
}

.courseInputTextArea {
  max-height: 1.35em;
  border: none;
  resize: none;
  padding: 0;

  background-color: rgba(236, 240, 241, 0);
  font-size: 2em;
  font-weight: bold;

  white-space: nowrap;
}

.infoTitleName {
  font-style: italic;
  color: #494949;
}

.about {
  position: absolute;
  left: .5rem;
  bottom: .5rem;

  color: #494949;
  font-size: .7em;

  pointer-events: none;
}

.ghLink {
  color: #494949;
  text-decoration: none;

  pointer-events: visible;
}

.ghLink:hover {
  text-decoration: underline;
}

text {
  pointer-events: none;
}