.appContainer {
  display: flex;
  flex: 2;
}

.sidePanel {
  width: 20%;
  padding: 1em;

  background-color: #EEEEEE;

  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);

}

.graphContainer {
  width: 80%;
  float: left;
}